html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-home-serif;

}

.porfolio {
    background: rgb(171, 192, 202);
}

/* Circle */
/* .home-container::after {
    content: '';
    position: absolute;
    height: 300px;
    width: 300px;
    background: #c1d9fb;
    transform: translate(490px, 150px);
    border-radius: 50%;
} */

.hero .socials a {
    font-size: 25px;
    color: #7c8bd1;
    transition: 0.3s;
}

.hero .socials a:hover {
    color: #4f5fa6;
}

.socials {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    /* left: 50px; */
    right: 100px;
    top: 30%;
}

.text {
    /* position: absolute; */
    text-align: center;
    /* max-width: 50%; */
    /* left: 100px; */
}

.skills-container,
.projects-container {
    grid-template-columns: 1fr;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: rgb(171, 192, 202);
}

.inner {
    padding-top: 20px;
}

.header {
    text-align: center;
    /* padding: 1rem; */
    position: relative;
}



a {
    display: inline-block;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
p {
    margin: 0;
}

.row {
    display: flex;
}

.cont {
    max-width: 90%;
    margin: 0 auto;
}

/* Start Nav */
header {
    align-items: center;
    justify-content: space-between;
}

.logo {
    align-items: center;
}

.logo img {
    max-width: 150px;
}

nav ul {
    gap: 2em;
    align-items: center;
}

ul li a {
    text-decoration: none;
    font-size: 25px;
    color: #242329;
    transition: 0.4s;
}

ul li a:hover {
    color: #7c8bd1;
}

/* End Nav */

/* Start Hero */

.hero.row.cont {
    /* gap: 2em; */
    flex-wrap: wrap-reverse;
    align-items: center;
    height: 80vh;
    width: 75%;
    padding: 0 20px;
    background-color: rgb(255, 255, 255, 0.1);
    z-index: 10;
    border: 2px solid rgb(255, 255, 255, 0.7);
    border-radius: 20px;
    display: flex;
    backdrop-filter: blur(25px);
    box-shadow: -15px 17px 17px rgba(10, 10, 10, .15);
}

.hero>* {
    flex: 1 1 25em;
}

.hero h1 {
    font-size: clamp(35px, 5vw, 60px);
    line-height: 1;
}

.hero p {
    font-weight: 500;
    font-size: 20px;
    padding: 1em 0;
}

.button {
    padding: 15px 20px;
    background-color: #4f5fa6;
    border: 1px solid #4f5fa6;
    color: #fff;
    border-radius: 5px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s;
}

.button:hover {
    background-color: #fff;
    color: #4f5fa6;
}

.title {
    padding-top: 2em;
    color: #4f5fa6;
}

.hero .row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/* .hero_image {
    display: inline-block;
    max-width: 50%;
    top: 50px;
} */

/* End Hero */


.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
}

.skills-box {
    padding: 1rem;
    color: #505052;
    cursor: pointer;
}

.skills-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
}

.skills-title:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 4px;
    border-radius: 0, 2px 2px 0;
    background-color: #4f5fa6;
    transition: .5s;
}

.skills-title:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 0;
    height: 4px;
    border-radius: 2px 0 0 2px;
    background-color: #4f5fa6;
    transition: .5s;
}

.skills-box:hover>.skills-title:after,
.skills-box:hover>.skills-title:before {
    width: 35px;
}

.skills-title h3 {
    color: #4f5fa6;
    margin: 0.5rem;
}

.skills-icon {
    width: 50px;
    z-index: 2;
}

.img {
    width: 90px;
    height: 90px;
    position: relative;
    border-radius: 45px;
    background-color: rgb(255, 255, 255, 0.1);
    border: 1px solid rgb(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.project-image {
    transition: .5s;
}

.skills-box:hover .img {
    transform: translateY(-10px);
}

.project-image:hover {
    transform: translateY(-10px);
}

.project {
    width: fit-content;
    margin: 50px auto 0;
    display: flex;
}

.project img {
    width: 320px;
    height: 320px;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    z-index: 100;
    box-shadow: -15px 17px 17px rgba(10, 10, 10, .15);
}

.information {
    padding: 10px 50px;
}

.information h1 {
    font-size: 30px;
    font-weight: 500;
    color: #4f5fa6;
}

.information p {
    line-height: 26px;
}

.information a {
    background: #4f5fa6;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 30px;
    margin-top: 20px;
}

/* header.row.cont {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
 } */

@media screen and (max-width: 380px) {
    .container {
        grid-template-columns: 1fr;
    }

    .project {
        width: fit-content;
        grid-template-columns: 1fr;
        margin: 50px auto 0;
        display: grid;
        text-align: center;
        border: 1px solid rgb(255, 255, 255, 0.7);
        background-color: rgb(255, 255, 255, 0.1);
        border-radius: 20px;
    }

    .project img {
        width: 100%;
        height: 100%;
        cursor: pointer;
        border-radius: 10px;
        position: relative;
        box-shadow: -15px 17px 17px rgba(10, 10, 10, .15);
    }


    .hero_image {
        display: none;
    }

    .hero .socials {
        display: none;
    }
    
}

@media screen and (min-width: 381px) and  (max-width: 670px) {

    .container {
        grid-template-columns: 1fr;
    }

    .project {
        width: fit-content;
        grid-template-columns: 1fr;
        margin: 50px auto 0;
        display: grid;
        text-align: center;
        border: 1px solid rgb(255, 255, 255, 0.7);
        background-color: rgb(255, 255, 255, 0.1);
        border-radius: 20px;
    }

    .project img {
        width: 100%;
        height: 100%;
        cursor: pointer;
        border-radius: 10px;
        position: relative;
        box-shadow: -15px 17px 17px rgba(10, 10, 10, .15);
    }

    .hero_image {
        position: absolute;
        max-width: 50%;
        top: 1%;
        border-radius: 100%;
    }

    .hero .socials {
        visibility: hidden;
    }
}

@media screen and (min-width: 671px) and (max-width: 900px) {
    .container {
        grid-template-columns: 1fr;
    }

    .project {
        width: fit-content;
        grid-template-columns: 1fr;
        margin: 50px auto 0;
        display: grid;
        text-align: center;
        border: 1px solid rgb(255, 255, 255, 0.7);
        background-color: rgb(255, 255, 255, 0.1);
        border-radius: 20px;
    }

    .project img {
        width: 100%;
        height: 100%;
        cursor: pointer;
        border-radius: 10px;
        position: relative;
        box-shadow: -15px 17px 17px rgba(10, 10, 10, .15);
    }

    .hero_image {
        position: absolute;
        max-width: 40%;
        top: 1%;
        border-radius: 100%;
    }

    .hero .socials {
        visibility: hidden;
    }
}

@media screen and (min-width: 901px) and (max-width: 1125px) {
    .container {
        grid-template-columns: 1fr;
    }

    .project {
        width: fit-content;
        grid-template-columns: 1fr;
        margin: 50px auto 0;
        display: grid;
        text-align: center;
        border: 1px solid rgb(255, 255, 255, 0.7);
        background-color: rgb(255, 255, 255, 0.1);
        border-radius: 20px;
    }

    .project img {
        width: 100%;
        height: 100%;
        cursor: pointer;
        border-radius: 10px;
        position: relative;
        box-shadow: -15px 17px 17px rgba(10, 10, 10, .15);
    }

    .hero_image {
        position: absolute;
        max-width: 35%;
        top: 1%;
        border-radius: 100%;
    }

    .hero .socials {
        visibility: hidden;
    }
}

@media screen and (min-width: 1126px){

    .container {
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem 50px;
    }

    .home-container .box {
        height: 86vh;
        width: 75%;
        padding: 0 20px;
        background-color: rgb(255, 255, 255, 0.1);
        z-index: 10;
        border: 2px solid rgb(255, 255, 255, 0.7);
        border-radius: 20px;
        display: flex;
        backdrop-filter: blur(25px);
        box-shadow: -15px 17px 17px rgba(10, 10, 10, .15);
    }

    .hero_image {
        position: absolute;
        max-width: 30%;
        border-radius: 100%;
        right: 200px;
    }

    .text {
        padding-left: 20px;
    }

}

