* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    height: 100vh;
    width: 100%;
    position: relative;
    background: rgb(171, 192, 202);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .box {
    height: 86vh;
    width: 75%;
    padding: 0 20px;
    background-color: rgb(255, 255, 255, 0.1);
    z-index: 10;
    border: 2px solid rgb(255, 255, 255, 0.7);
    border-radius: 20px;
    display: flex;
    backdrop-filter: blur(25px);
    box-shadow: -15px 17px 17px rgba(10, 10, 10, .15);
}

.container::after {
    content: '';
    position: absolute;
    height: 300px;
    width: 300px;
    background: #c1d9fb;
    transform: translate(490px, 150px);
    border-radius: 50%;
}

.container .box nav {
    height: 7%;
    width: 95%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px auto;
    padding: 20px;
}

.container .box nav a {
    text-emphasis: none;
}

.container .box ul li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

.container .box ul li a {
    text-decoration: none;
    font-size: 14px;
    color: #242329;
    transition: 0.4s;
}

.container .box ul li a:hover {
    color: #7c8bd1;
}

nav .logo img {
    margin-top: 5px;
    margin-left: 30px;
    height: 150px;
}

.container .box .hero {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 8%;
    padding-left: 80px;
}

.container .box .hero .text {
    position: relative;
    width: 40%;
}

.hero .text h1 {
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: bold;
    color: #242329;
}

.hero .text h3 {
    font-size: 24px;
    color: #4f5fa6;
    margin-bottom: 10px;
}

.hero .text p {
    font-size: 18px;
    color: #505052;
    margin-bottom: 50px;
}

.hero .text .button {
    padding: 15px 20px;
    background-color: #4f5fa6;
    border: 1px solid #4f5fa6;
    color: #fff;
    border-radius: 5px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s;
}

.hero .text .button:hover {
    background-color: #fff;
    color: #4f5fa6;
}

.hero .hero-image {
    width: 40%;
    margin-right: 100px;
    margin-bottom: 75px;
    border-radius: 100%;
}

.hero .hero-image img{
    width: 100%;
}

.hero .socials {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    left: 10px;
    top: 30%;
} 

.hero .socials a{
    font-size: 25px;
    color: #7c8bd1;
    transition: 0.3s;
}

.hero .socials a:hover{
    color: #4f5fa6;
}